#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
 }

 #splashscreen-image {
    position:absolute;
    left: 0;
    top: 20%;
    width:100%;
 }

 .main-color {
    color: #ffd24c !important
 }

 .progress {
   position:absolute;
   left:10%;
      
   }

 body {
    background-color:rgb(250,250,250); 
    color: rgb(110,110,110); 
    font-family: 'Roboto', sans-serif;
    height: 100%;
 }

 .currently_mining, .hashes_per_second {
   color: rgb(160,160,160); 
 }

 .tabsCont {
   position: absolute;
   bottom: 0;
   height: 70px;
 }
 .tab {
   height: 70px !important;
   color: #5e5e5e !important
 }

 .tab a {
   color: #5e5e5e !important
 }

 .tab .active {
   color: #ffd24c !important
 }

 .tabs {
   height: 70px !important;
 }

 .tabs .indicator{
   background-color:#ffd24c;
   }


.tabs .tab a:hover {
   color: #ffd24c
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
   background-color:#ffd24c11;
}

li .active {
   background-color:#ffd24c11 !important;
}

.br {
   display: block;
   margin-bottom: -2em;
}

#email {
   border-style: solid; 
   border-left: none;
   border-top: none;
   border-right: none;
   border-width: 1px; 
   border-color: #aaa;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #ffd24c;
}

#usd {
  color: #ffd24c
}

table {
  padding: 0px;
}

td {
  height: 10px;
}

tr{
  line-height: 0px;
}

table, th, td {
  margin: 0px;
  padding: 9px;
}

.btn {
  background-color: #fde69f;
  color: black
}
.btn:hover {
  background-color: #ffd24c;
}

.gpu_switch {
    text-align: center; 
    vertical-align: middle;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 540px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 40;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

html{    
  height:100%;
  margin: 0;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #ffe598;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ffd24c;
}